body {
    background-color: #f1ddcf;
    font-family: Arial, sans-serif;
}
h1 {
    color: #3e3e3e;
    text-align: center;
}
p {
    color: #616161;
    text-align: center;
}

#piePagina {
    font-size: 1vw;
    padding-left: 5%;
    padding-right: 5%;
    background: #fcccb7;
}

#contenedorPiePagina {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fcccb7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    resize: none;
    /* Uso una unidad relativa para el ancho del área de texto */
    width: 80vw;
}
textarea:hover{
    transform: scale(1.1);
    background-color: #fcccb7
    
}
#texto {
    height: 130px;
}

#texto::placeholder {
    text-align: center;
    vertical-align: middle;   
    /*line-height: 25px;*/
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
#resultado {
    height: 130px;
}

#resultado::placeholder {
    text-align: center;
    vertical-align: middle;
    /*line-height: 25px;*/
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

    
button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #0099ff;
    color: white;
    cursor: pointer;
    /* Agrego un radio de 10 píxeles a las esquinas de los botones */
    border-radius: 10px;
}
#botonContraseña {
    margin: 10px;
    padding: 3px;
    border-radius: 10px;
    width: 200px;
}
button:hover {
    background-color: #0066cc;
    /* Agrego una transformación de escala de 1.2 a los botones cuando se pasa el cursor sobre ellos */
    transform: scale(1.1);
}
#claveSecreta{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    
}
#contraseña{
    width: 200px;
    border:none;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    padding: 3px;
}
#contraseña::placeholder{
    text-align: center;
}
#contraseña:hover{
    transform: scale(1.1);
    background-color: #fcccb7
}
/* Agrego un contenedor para centrar los botones */
.botones {
    display: flex;
    justify-content: center;
}

.contenedorPrincipal{
    justify-content: center;
}

.contenedorSecundario{
    justify-content: center;
}


/* Agrego una media query para cambiar el tamaño de la fuente según el ancho de la pantalla */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw;
    }
    p {
        font-size: 4vw;
    }
    textarea {
        font-size: 3vw;
    }
    button {
        font-size: 3vw;
    }
}